{
  "extends": "eslint-config-standard",

  "env": {
    "browser": true,
    "mocha": true,
    "node": false
  },

  "globals": {
    "document": true,
    "window": true
  },

  "rules": {
    "semi": [2, "never"],
    "space-before-function-paren": [2, "never"]
  }
}
